
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1469691397'); /* IE9*/
  src: url('iconfont.eot?t=1469691397#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1469691397') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1469691397') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1469691397#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before { content: "\e64a"; }
.icon-news:before { content: "\e63f"; }
.icon-iconmessage:before { content: "\e62a"; }
.icon-setting:before { content: "\e697"; }
.icon-xiangshang:before { content: "\e638"; }
.icon-xiangshang-copy:before { content: "\e630"; }
.icon-refresh:before { content: "\e764"; }
.icon-play:before { content: "\34ad"; }
.icon-plus:before { content: "\e615"; }
.icon-favorite:before { content: "\e61e"; }
.icon-favorite1:before { content: "\e60b"; }
.icon-zhuanfa:before { content: "\e609"; }
.icon-thumbsup:before { content: "\e624"; }
.icon-bdialogue:before { content: "\e676"; }
.icon-smile:before { content: "\e88d"; }
.icon-pic:before { content: "\e6a8"; }
.icon-hot:before { content: "\e614"; }
.icon-level:before { content: "\e61d"; }
.icon-location:before { content: "\e678"; }
.icon-pen:before { content: "\e6c1"; }
.icon-more:before { content: "\e64d"; }
.icon-more1:before { content: "\e680"; }
.icon-more2:before { content: "\e615"; }
.icon-fangdajing:before { content: "\e610"; }
.icon-v:before { content: "\e622"; }
.icon-laba:before { content: "\e61a"; }
.icon-icon:before { content: "\e620"; }
.icon-minus:before { content: "\e701"; }
.icon-arrowr:before { content: "\e640"; }
.icon-arrow-right-copy:before { content: "\e600"; }
.icon-arrow:before { content: "\e60c"; }
.icon-tel:before { content: "\e62e"; }
.icon-tel1:before { content: "\e605"; }
.icon-apple:before { content: "\e618"; }
.icon-android:before { content: "\ec99"; }
.icon-pc:before { content: "\e6c5"; }
.icon-download:before { content: "\e639"; }
.icon-upload:before { content: "\ea1f"; }
.icon-yinpin:before { content: "\e710"; }
.icon-waveright:before { content: "\e60e"; }
.icon-waveleft:before { content: "\e60f"; }
.icon-personal:before { content: "\e639"; }
