body{font-size: 14px;color: #5a5a5a;font-family: "Microsoft YaHei";padding: 0;margin: 0;background-color: #fff;}
*{padding: 0;margin: 0;}
ul,li,div{list-style: none;text-decoration: none;padding: 0px;margin: 0px;box-sizing: border-box;}
a{color: #000;cursor: pointer;text-decoration: none;}
/*img{width: 100%;height: auto;}*/

.w_fluid{width: 100%;}
.w_1000{width: 1000px;margin: 0 auto;}

.box{width: 1000px;margin: 0 auto;}
.center{margin: 0 auto;display: block;}
.text-center{text-align: center;}
.left{float: left;}
.right{float: right;}
.clear:after{clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
.top10{margin-top: 10px!important;}
.top20{margin-top: 20px!important;}
.top30{margin-top: 30px;}
.top40{margin-top: 40px;}
.top50{margin-top: 50px;}
.bottom10{margin-bottom: 10px!important;}

.bluelink{color: #2f7bcf!important;}
.hover-border:hover{border: 2px solid #2f7bcf!important;}
.hover-border1:hover{border: 1px solid #2f7bcf!important;}
a.more{color: #2f7bcf;}
a:hover{color:  #2f7bcf;text-decoration: none;}
.img-auto{width: 100%;height: auto;}

/**main**/
.subnav{width: 193px;height: 301px;}
.subnav ul{width: 192px;border: 1px solid #ededed;border-right: 0;position: relative;}
.subnav ul li{overflow: visible; height: 50px;line-height: 50px;border-bottom: 1px solid #ededed;padding: 0px 20px;background-color: #F1F1F1;}
.subnav ul li span{margin-top: 20px;}
.subnav ul li i{margin-right: 10px;font-size: 24px;color: #2f7bcf;line-height: 50px;}
.subnav ul li b{font-weight: 100;line-height: 50px;}
.subnav ul li .showbox{height: 301px;border: 1px solid #ddd;border-left: 0px; position: absolute;left: 192px;top: -1px;z-index: 100;background: #fff;display: none;}
.subnav ul li .showbox img{width: 565px;height: 298px;}
.subnav ul li:hover{background-color: #fff;}
.subnav ul li:hover .arwright{display: none;}
.subnav ul li:hover .showbox{display: block;}

.banner{width: 560px;float: left;margin: 0 7px 0 5px;height: 300px;}
.banner img{width: 100%;height: 300px;}

.rightcont{width: 233px;float: left;height: 300px;}
.rightcont .notice{width: 233px;height: 136px;border: 1px solid #ededed;clear: both;margin-bottom: 8px;box-sizing: border-box;}
.rightcont .notice .tab-tit{height: 30px;line-height: 30px;border-bottom: 1px solid #ededed;}
.rightcont .notice .tab-tit li{float: left;cursor: pointer;height: 29px;width: 63px;line-height: 29px;text-align: center;font-size: 14px;background: #f1f1f1;}
.rightcont .notice .tab-tit li a{color: #717a7f;display: inline-block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 100%;}
.rightcont .notice .tab-tit li:hover{background-color: #F90!important;color:#fff;}
.rightcont .notice .tab{margin-top: 10px;}
.rightcont .notice .tab .tabcont{display: none;position: absolute;}
.rightcont .notice .tab ul li{height: 28px;line-height: 28px;color:#fff;font-size: 12px;text-overflow: ellipsis;white-space: nowrap;padding: 0 15px;overflow: hidden;}


/**财税讲坛 图书**/
.csjt,.cstu{border: 1px solid #ededed;}
 .csjt-tit,.cstu .cstu-tit{height: 40px;line-height: 40px;border-bottom: 1px solid #ededed;}
 .csjt-tit h3,.cstu .cstu-tit h3{line-height: 40px;padding-left: 15px;}
 .csjt-tit i,.cstu .cstu-tit i{display: inline-block;width: 3px;height: 20px;background-color: #f90;margin-top: 10px;}
.csjt ul{padding: 0 10px 10px 10px;border-top: none;overflow: hidden;}
.csjt ul li{position: relative;width: 232px;float: left;padding: 10px; margin: 10px 6px 0 6px;height: 160px;cursor: pointer;border: 1px solid transparent;}
.csjt ul li span{display: inline-block;font-size: 14px;color: #24313c;margin: 10px 0 0 0;width: 200px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cstu ul{margin-top: 10px; padding: 0 0 10px 0;}
.cstu ul li{margin: 0 14px 0 14px;text-align: center;width: 170px;float: left; padding: 0;border: 1px solid transparent;padding-bottom: 5px;}
.cstu ul li a span{clear: both;font-size: 12px;color: #333333;display: block;width: 150px;margin: 0 auto;text-align: left;line-height: 18px; margin-top: 5px;height: 40px;overflow: hidden;word-break: break-all;word-wrap: break-word;}
.cstu .book-price{padding: 5px 10px;}
.cstu .book-price span{    float: left;color: #ff9800;font-size: 16px;}
.cstu .book-price b{color: #aaaaaa;font-size: 16px;font-weight: normal;text-decoration: line-through;float: right;}

.sws{border: 1px solid #ededed;border-bottom: 0px;}
.sws .sws-tit{width: 999px;height: 42px;line-height: 42px;border-bottom: 1px solid #ededed;}
.sws .sws-tit .arealist{width: 911px;overflow: hidden;height: 42px;position: relative;}
.sws .sws-tit .arealist ul{line-height: 42px;position: absolute;width: 1200px;}
.sws .sws-tit .arealist ul li{width: 68px;text-align: center;float: left;font-size: 14px;font-weight: 100;cursor: pointer;height: 42px; margin: 0 1px;}
.sws .sws-tit .arealist ul li a{color: #666666;display: inline-block;width: 100%;}
.sws .sws-tit .arealist ul li:hover{border-bottom:2px solid #f90;}

.sws .sws-tit .btn a{text-align: center; width: 42px;height: 41px;display: inline-block;border-left: 1px solid #ededed;}
.sws .sws-tit .btn a:hover{background-color: #f90;color: #fff;}


.pagination {position: absolute;z-index: 20;left: 45%;bottom: 10px;}
.swiper-pagination-switch { display: inline-block; width: 8px;height: 8px;border-radius: 8px;background: #222;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.swiper-visible-switch {background: #aaa;}
.swiper-active-switch {background-color: #2f7bcf;}

.swscont .rmsws{border: 2px solid transparent;height: 284px;}
.swscont .rmsws .fwlx_lbst{ margin-bottom: 8px;padding: 0 18px;height: 237px;}
.swscont .rmsws .fwlx_lbst .fwlx_left,.swscont .rmsws .fwlx_lbst .right{width: 362px;}
.swscont .rmsws .fwlx_lbst ul{
    margin: 0 auto;
    font-size: 12px;
    padding-right: 15px;
    border-right: 0;
    margin-top: 7px;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}
.swscont .rmsws .fwlx_lbst ul li{
	line-height: 28px;
    color: #323232;
    height: 28px;
    background: url(../images/tub_sws_sy.jpg) no-repeat left center;
    padding-left: 15px;
}
.swscont .rmsws .fwlx_lbst ul li a{
	color: #323232;
    margin: 0 3px;
    line-height: 28px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.swscont .rmsws .fwlx_lbst ul li a:hover{color: #2f7bcf;}

.swscont .tjsws .sws_cbox1_right{
    width: 234px;
    border-left: 1px solid #ededed;
    float: right;
    height: 284px;
    background: #f8f8f8;
}    
.swscont .tjsws .sws_cbox1_right_1{border: 2px solid transparent;}
.swscont .tjsws .sws_cbox1_right .tjsws_tj{
    padding: 0 15px;
    font-size: 12px;
}
.sws-list .swsmc {
    height: 29px;
    line-height: 29px;
    cursor: pointer;
    padding-top: 5px;
}
.sws-list img{width: 194px;height: 73px;}
.sws-list .hover{display: none;}

/**热门税务师**/
.rmswscont  .sws_sws_cbox1_left{
	width: 764px;
    float: left;
    height: 439px;
    border: 2px solid #ffffff;
}
.rmswscont  .sws_sws_cbox1_left .fwlx_lbst {
	margin-bottom: 8px;
    height: 237px;
}
.rmswscont  .sws_sws_cbox1_left .fwlx_lbst{
	height: 365px;
    padding-top: 5px;
}

.rmswscont  .sws_sws_cbox1_left .fwlx_lbst .sy_swrqb_list {
    width: 225px;
    height: 116px;
    float: left;
    margin: 12px 13px 0px 13px;
    border-bottom: 1px dashed #e1e1e1;
}
.sy_swrqb_list .sy_swrqb_tx {
    width: 81px;
    height: 105px;
    float: left;
    margin-left: 5px;
}
.sy_swrqb_list .sy_swrqb_js {
    width: 130px;
    float: right;
    font-size: 12px;
}
.sy_swrqb_list .sy_swrqb_js .sy_swrqb_xm {
    font-size: 14px;
    color: #24313c;
}
.sy_swrqb_list .sy_swrqb_js .sy_swrqb_xm a {
    font-size: 14px;
    color: #24313c;
}
.sy_swrqb_list .sy_swrqb_js .sy_swrqb_xm1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    width: 95%;
    color: #666d73;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    height: 15px;
}
.sy_zan_top1_xqjj {
    height: 25px;
    margin-top: 32px;
    display: block;
    color: #24313c;
    float: left;
    margin-right: 10px;
    font-size: 12px;
    background: url(../images/rq_sy.jpg) no-repeat left;
    padding-left: 16px;
    line-height: 25px;
    text-decoration: none;
}
.sy_zan_top2_xqjj {
    height: 25px;
    margin-top: 32px;
    display: block;
    float: left;
    color: #24313c;
    font-size: 12px;
    margin-right: 10px;
    background: url(../images/dz_sy.jpg) no-repeat left;
    padding-left: 16px;
    line-height: 25px;
}

.rmswscont{border-top: 1px solid #ededed;border-bottom: 1px solid #ededed;}
.rmswscont .sws_sws_cbox1_right {
    width: 234px;
    border-left: 1px solid #ededed;
    float: right;
    height: 439px;
    background: #f8f8f8;
}
.rmswscont .sws_sws_cbox1_right .sws_sws_cbox1_right_1{
	border: 2px solid transparent;
	height: 100%;
}
.rmswscont .sws_sws_cbox1_right .sws-banner{
	margin-top: 5px;
    height: 368px;
}
.sws-banner .item{
    margin: auto 15px;
    text-align: left;
}
.sws-banner .item .tjsws_sy_list li {
    margin: 10px 0;
    height: 80px;
}
.sws-banner .item .tjsws_sy_list li .sws_qymc {
    font-size: 12px;
    margin: 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item .tjsws_sy_list li .sws_anli {
    background: url(../images/al_sy.png) no-repeat left;
    padding-left: 18px;
}

/**财税服务**/
.csfw{
	border-bottom: 1px solid #ededed;
}
.csfw .sws_sws_cbox1_left{
	 width: 764px;
    float: left;
    height: 326px;
    border: 2px solid #ffffff;
}
.csfw .sws_sws_cbox1_left .dop_sws_sws_cbox1_left_title{
	height: 42px;
    line-height: 42px;
    padding: 0 17px;
    background: url(../images/hx_tp.jpg) left center no-repeat;
}
.dop_sws_sws_cbox1_left_title .cawf {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
    font-weight: bold;
    color: #24313c;
}
.cawf .csfw-xgyl {
    width: 570px;
    margin-left: 30px;
    float: left;
    font-size: 12px;
    font-weight: 100;
}
.cawf .csfw-xgyl a {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 6px;
}
.cawf .csfw-xgyl a:not(.bt_ls):hover{
	color: #000;
	border-bottom: 2px solid #f90;
}
.cawf .csfw-xgyl .bt_ls {
    width: 60px;
    margin: 0;
    text-align: right;
    color: #d0d0d0 !important;
}
.dop_sws_sws_cbox1_left_title .csfw_k_box ul li{
	height: 26px;
    line-height: 26px;
    font-size: 12px;
    overflow: hidden;
    clear: both;
    zoom:1;
}
.csfw_k_box ul li a {
    color: #3d474f;
    float: left;
}
.csfw_k_box ul li b {
    float: right;
    font-weight: 100;
    font-size: 12px;
    color: #caccce;
}
.csfw_k_box ul li a span {
    color: #c5c5c5;
    margin-right: 5px;
    font-size: 11px;
}

.csfw .sws_sws_cbox1_right {
    width: 234px;
    border-left: 1px solid #ededed;
    float: right;
    height: 326px;
    background: #f8f8f8;
}
.csfw .sws_sws_cbox1_right .sws_sws_cbox1_right_1{
	border: 2px solid transparent;
	height: 100%;
}
.csfw .zuipx_list {
    padding: 0 15px;
    padding-top: 10px;
}
.csfw .zuipx_list .sq_xzwd_jpwd_list {
    height: 90px;
    border-bottom: 1px dotted #ededed;
    padding-top: 5px;
}
.csfw .zuipx_list .sq_xzwd_jpwd_list .jpwd_wen {
    height: 32px;
    line-height: 32px;
    background: url(../images/rmpx_tb.jpg) left center no-repeat;
    font-size: 12px;
    color: #24313a;
    padding-left: 19px;
}

.csfw .zuipx_list .sq_xzwd_jpwd_list .jpwd_da {
    background: url(../images/rmpx_tb1.jpg) left 3px no-repeat;
    font-size: 12px;
    color: #24313a;
    padding-left: 19px;
    line-height: 19px;
}

/**应用广场**/
.yygc{
    height: 436px;
    margin-top: 10px;
    border-top: 1px solid #ededed;
}
.yygc .yygc_left{
	width: 662px;
    float: left;
    height: 435px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.yygc .yygc_left_1{border: 2px solid #fff;height: 100%;}
.yygc .yygc_list{
    height: 100%;
}
.yygc .yygc_list .yygc_square_box {
    padding-top: 18px;
    width: 150px;
    height: 169px;
    border: 1px solid #ededed;
    float: left;
    text-align: Center;
    font-size: 12px;
    color: #24313c;
    background: url(../images/mf_sy1.png) no-repeat right top;
    margin-left: 12px;
    margin-top: 17px;
}
.yygc .yygc_list .yygc_square_box:hover{border-color: #2f7bcf;}
.yygc .yygc_list .yygc_square_box img {
    width: 60px;
    height: 63px;
    margin:0 auto;
}
.yygc .yygc_list .yygc_square_box .yygc-star{
    margin-top: 5px;
    position: relative;
    height: 20px;
    line-height: 20px;
    margin-left: 15px;
}
.yygc-star li.on {
    background-position: 0 -28px;
}
.yygc-star li {
    float: left;
    width: 24px;
    text-indent: -9999px;
    background: url(../images/yy-star_01.png) no-repeat;
}
.yygc .yygc_left .yygc_square_box .anzci {
    color: #bcbfc1;
}
.yygc .yygc_square_box p{line-height: 23px;}

.yygc .yygc_right{}
.yygc .yygc_right .yygc_right_1{}
.yygc .yygc_right .pp_image {
    text-align: center;
    margin-top: 13px;
}
.yygc .yygc_right .pp_image1{
	text-align: center;
    margin-top: 13px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.yygc .yygc_right{
	width: 328px;
    float: right;
    height: 435px;
    border: 1px solid #ededed;
    border-top: 0px;
}
.yygc .yygc_right_1{
        border: 2px solid transparent;
        height: 100%;
}
.yygc .zjsy_lst {
    padding: 0;
    padding: 7px 0;
}
.yygc .zjsy_lst li{
    line-height: 26px;
    padding: 0 15px;
    font-size: 12px;
    color: #323232;
    height: 26px;
    clear: both;
}
.yygc .zjsy_lst li a{
    float: left;
}
.yygc .zjsy_lst li span{
    font-weight: 100;
    font-size: 12px;
    color: #CACCCE;
    float: right;
}

.fgjdzt_box{
	    height: 224px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.fgjdzt_box .zxfg {
    width: 326px;
    float: left;
    height: 224px;
    border: 1px solid #ededed;
}
.fgjdzt_box .zxfg .zxfg_1 {
    border: 2px solid transparent;
    height: 100%;
}
.fgjdzt_box ul {
    padding: 0;
    margin: 0;
    padding: 10px 15px 0;
}
.fgjdzt_box ul li {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.fgjdzt_box ul li a {
    color: #3d474f;
    float: left;
}
.fgjdzt_box ul li a span {
    color: #c5c5c5;
    margin-right: 5px;
    font-size: 12px;
}
.fgjdzt_box ul li b {
    float: right;
    font-weight: 100;
    font-size: 12px;
    color: #caccce;
}

.fgjdzt_box .zcjd {
    width: 326px;
    float: left;
    margin-left: 11px;
    height: 224px;
    border: 1px solid #ededed;
}
.fgjdzt_box .zcjd .zcjd_1 {
    border: 2px solid transparent;
    height: 100%;
}
.fgjdzt_box .rdzt{
	width: 326px;
    float: right;
    height: 224px;
    border: 1px solid #ededed;
}
.fgjdzt_box .rdzt .rdzt_1 {
    border: 2px solid transparent;
    height: 100%;
}
.fgjdzt_box .rdzt .zt-banner{
    width: 297px;
    height: 150px;
    margin: 0 auto;
    margin-top: 15px;
}

/**友情链接**/
.sy_yqlj{    
	border: 1px solid #ededed;
    height: 107px;
}
.sy_yqlj .sy_yqlj_flink {
    padding-left: 15px;
    padding-top: 15px;
}
.sy_yqlj .sy_yqlj_flink a {
    display: inline-block;
    width: 163px;
    float: left;
    font-size: 12px;
    color: #24313c;
    text-align: left;
    line-height: 26px;
}